@media (min-width:768px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .divider2 {
        right: -10px;
    }

    /* top header inherit from min width 576px */

    /* header section inherit from min width 576px */

    /* ============== homepage ======== */
    .homepage .homepage-content {
        width: 50%;
        padding: 80px 0px;
    }

    .homepage .homepage-content h1 {
        font-size: 48px;
    }

    /* ============= hometext ========== */
    .homeText .homegrid {
        gap: 30px;
    }

    /* ======= study section ========= */
    .studies .studies-p {
        padding: 50px 0px;
    }

    .studies .title h1 {
        font-size: 35px;
    }

    .studies .studybox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .studies .grid3 {
        width: 300px;
        grid-row: 2/span 1;
        grid-column: 1/span 2;
        margin: auto;
    }

    /* ======== course data inherit from min width 576px */

    .stregthNum .NumberGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    /* instructor value inherit from min width 576px */
    .contactus .contactFlex {
        display: flex;
        flex-direction: row;
    }
}