/* ================== common css ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* margin */
.container {
    margin-left: 80px;
    margin-right: 80px;
}

.container-mar {
    margin-left: 30px;
    margin-right: 30px;
}

/* padding */
.padding-large {
    padding: 60px 0px;
}

.padding-small {
    padding: 20px 0px;
}

.pb {
    padding-bottom: 20px;
}

/* ======================= top header ========================= */
.TopHeader {
    background-color: #0d369f;
}

.TopHeader .topheader-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopHeader .topheader-flex a {
    color: white;
    transition: 0.5s ease all;
}

.TopHeader .topheader-flex a:hover {
    color: #ff6e65
}

.TopHeader .topheader-flex span {
    color: white;
}

.TopHeader .topheader-flex .contactus ul {
    display: flex;
    gap: 40px;
}

.TopHeader .topheader-flex .socialAc ul {
    display: flex;
    gap: 40px;
}

/* =============== header ==================== */
header {
    background-color: antiquewhite;
}

header .header-flex {
    display: flex;
    align-items: center;
}

header .header-flex .logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .header-flex .logo a {
    color: #0d369f;
    transition: 0.5s ease all;
}

header .header-flex .logo a:hover {
    color: #ff6e65;
}

header .header-flex .nav {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: end;
}

header .header-flex .nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .header-flex .nav ul li {
    padding: 10px;
}

header .header-flex .nav ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

header .header-flex .nav ul li a.active {
    color: #ff6e65;
}

header .header-flex .nav ul li a:hover {
    color: #ff6e65;
}

header .header-flex .nav input[type="text"] {
    height: 40px;
    width: 200px;
    border-radius: 40px;
    padding: 0px 10px;
    border: 1px solid gray;
}

header .header-flex .nav input[type="text"]:focus-within {
    outline: none;
}

header .header-flex .nav .searchForm {
    position: relative;
}

header .header-flex .nav button {
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #0d369f;
    cursor: pointer;
}

header .header-flex .nav button:hover {
    color: #ff6e65;
}

header .header-flex .theme-icon {
    flex: 0.2;
    display: flex;
    justify-content: end;
    gap: 10px;
}

header .header-flex .theme-icon span {
    font-size: 19px;
    padding: 5px;
}

header .header-flex .theme-icon button {
    display: none;
    background-color: #0d369f;
    color: white;
    border: 2px solid #0d369f;
    border-radius: 5px;
}

/* ============== homepage ============== */
.homepage {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* filter: brightness(20%); */
}

.homepage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

.homepage .homepage-content {
    color: white;
    width: 38%;
    padding: 100px 0px;
}

.homepage .homepage-content h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.homepage .homepage-content button {
    height: 45px;
    width: 150px;
    background-color: white;
    color: black;
    border: 2px solid white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* =============== hometext ============== */
.homeText {
    position: relative;
}

.homeText .homegrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    position: absolute;
    top: -55px;
    left: 80px;
    right: 80px;
    z-index: 1;
}

.homeText .homegrid .gridbox {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.homeText .homegrid .gridbox .icon {
    font-size: 40px;
    color: white;
    padding: 20px;
}

.homeText .homegrid .gridbox a {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    transition: 0.3s ease all;
}

.homeText .homegrid .gridbox a:hover {
    color: black
}

.homeText .homegrid .bgbox1 {
    background-color: #037ef3;
}

.homeText .homegrid .bgbox2 {
    background-color: #ffc949;
}

.homeText .homegrid .bgbox3 {
    background-color: #ff4f81;
}

.homeText .homegrid .bgbox4 {
    background-color: #1ee697;
}